<%= link_to('Hello', {action: :hello})%>
<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<% @dog_name.each do |name| %>
	<%= "My dogs name is #{name}, what is your dogs name?" %><br>
<% end %>
<br>

<%= link_to 'MSN', "http://msn.com"%>
